<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
			<link href="css/jishi.css" type="text/css" rel="stylesheet" />
			<script src="js/mobile-util.js"></script>
			<meta name="viewport" content="width=1080" />
	</head>
	<body>
		<div class="wrap">
			<header>
				<div class="noti">
					<img src="img/1.png" class="img">
					<h4>Notifications</h4>
					<img src="img/2.png" class="img-d">
				</div>
				<nav>
					<ul>
						<li>Friends</li>
						<li>Following</li>
						<li>Staff</li>
					</ul>
				</nav>
			</header>
			<article>
				<div class="juzhong">
					<div class="tou">
						<img src="img/3.png" class="tou-y">
						<div>
							<% for(var i=0;i<banners.length;i++){ %>
								<p><%=banners[i].title %></p>
								<p><%=banners[i].title1 %></p>
							<% } %>
						</div>
						<img src="img/4.png" class="tou-e">
					</div>
					<div class="tou">
						<img src="img/5.png" class="tou-y">
						<div>
							<% for(var i=0;i<banners.length;i++){ %>
								<p><%=banners[i].title2 %></p>
								<p><%=banners[i].title7 %></p>
							<% } %>
						</div>
						<img src="img/6.png" class="tou-e">
					</div>
					<div class="tou">
						<img src="img/7.png" class="tou-y">
						<div>
							<% for(var i=0;i<banners.length;i++){ %>
								<p><%=banners[i].title3 %></p>
								<p><%=banners[i].title8 %></p>
							<% } %>
						</div>
						<img src="img/8.png" class="tou-e">
					</div>
					<div class="tou">
						<img src="img/9.png" class="tou-y">
						<div>
							<% for(var i=0;i<banners.length;i++){ %>
								<p><%=banners[i].title4 %></p>
								<p><%=banners[i].title9 %></p>
							<% } %>
						</div>
						<img src="img/10.png" class="tou-e">
					</div>
					<div class="tou">
						<img src="img/11.png" class="tou-y">
						<div>
							<% for(var i=0;i<banners.length;i++){ %>
								<p><%=banners[i].title5 %></p>
								<p><%=banners[i].title10 %></p>
							<% } %>
						</div>
						<img src="img/12.png" class="tou-e">
					</div>
					<div class="tou">
						<img src="img/13.png" class="tou-y">
						<div>
							<% for(var i=0;i<banners.length;i++){ %>
								<p><%=banners[i].title6 %></p>
								<p><%=banners[i].title11 %></p>
							<% } %>
						</div>
						<img src="img/14.png" class="tou-e">
					</div>
				</div>
			</article>
		</div>
	</body>
</html>
